* {
  box-sizing: border-box;
}
.input-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}
.flatpickr-input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-right: 8px;
}
.flatpickr-input:hover,
.flatpickr-input:focus {
  border: 1px solid #000;
}
.flatpickr-input:active {
  border: 1px solid #4e75ff;
}
.flatpickr-input:disabled {
  color: #808080;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover,
button:focus
{
  background-color:  #6c8cff;
}
button:disabled{
  background-color: #cfcfcf;
  color: #989898;
}
.timer {
  display: flex;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}
